body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    background: #007BFF;
    color: white;
    padding: 15px;
}

.container {
    background: white;
    width: 40%;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px gray;
}

input, select {
    width: 80%;
    padding: 8px;
    margin: 10px;
}

button {
    background: green;
    color: white;
    padding: 10px 20px;
    border: none;
}
